<div class="link-list">
  {{ range .Site.Data.links }}
  <div class="link-box">
    <a class="goto-btn" href="{{ .url }}" target="_blank">
      <h3 class="link-text">{{ .name }}</h3>
    </a>

    <button class="copy-btn" onclick="copyText('{{ .url }}')">
      <img src="{{"./icons/copy.png"}}" alt="Copy URL" />
    </button>
  </div>

  {{ end }}
</div>

<div class="overlay"></div>

<!-- <script>
  function copyText(text) {
    const cb = navigator.clipboard;
    cb.writeText(text);
  }
</script> -->

<script>
  function copyText(text) {
    const inputElement = document.createElement("input");
    inputElement.style.opacity = 0;
    inputElement.value = text;
    document.body.appendChild(inputElement);

    inputElement.select();
    inputElement.setSelectionRange(0, 99999); // For mobile devices

    document.execCommand("copy");
    document.body.removeChild(inputElement);
  }
</script>
